<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--mathjax Javascript-->
    <script type="text/javascript" async 
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML"></script>
    
</head>
<body class="blue lighten-5">
  
    <div class="navbar-fixed">
        <nav>
            <div id="nav-mobile" class="nav-wrapper blue darken-2">
                <a href="/" class="brand-logo"> Maple Solution</a>
                
                <!-- 과목 메뉴들 -->
                
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" data-activates="drop_math1">미적분학1<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" data-activates="drop_math2">미적분학2<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                
                <!-- 미적분학1  -->
                <ul id="drop_math1" class="dropdown-content">
                  <li><a href="#">준비중..</a></li>
                  
                </ul>
                
                <!-- 미적분학2  -->
                <ul id="drop_math2" class="dropdown-content">
                  <li><a href="/math2/1">CH1</a></li>
                  <li><a href="/math2/2">CH2</a></li>
                  <li><a href="/math2/3">CH3</a></li>
                  
                  <li class="divider"></li>
                </ul>
                
                
            </div>
        </nav>
    </div>

<%= yield %>

</body>
</html>
